<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("parts/head") -%> 
</head>
<body>
  <%- include("layouts/header") -%> 

  <main>
    <div class="container center-align">
      <div class="row"></div>
      <div class="row">
        <div class="col s12 main-title white-text">
          <h4>Wordcloud for <%= type %>: <%= identifier %></h4>
        </div>
      </div>
    </div>
    <div class="valign-wrapper" style="width:100%;height:75%;position: absolute;">
      <div class="valign" id="valignContainer" style="width:100%; height: 100%;">
        <div class="container center-align cloud-border" id="cloudContainer">
        </div>
      </div>
    </div>
  </main>
  
  <%- include("layouts/footer") -%>

  <%- include("parts/wordcloud") -%>
</body>
</html>